@import "tailwindcss";

@theme {
  --font-serif: var(--font-cinzel), var(--font-noto-serif-kr), serif;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbar for immersive experience */
}
